<?xml version="1.0"?>

<!--
// www.WebRTC-Experiment.com
// www.MuazKhan.com
// www.RTCMultiConnection.org
// muazkh@gmail.com
// @muazkh and @WebRTCWeb on twiter
-->

<configuration>
  <system.web>
    <!-- Classic Mode (IIS 6 and Visual Studio) -->
    <httpHandlers>
      <add path="websync.ashx" verb="*" type="FM.WebSync.Server.RequestHandler"/>
    </httpHandlers>
    <compilation debug="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Integrated Mode (IIS 7+) -->
    <handlers>
      <add path="websync.ashx" verb="*" type="FM.WebSync.Server.RequestHandler" name="WebSync Handler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>